h1 {
    font-family: 'papyrus', cursive, sans-serif;
    text-align: center}



main,
footer,
.menubar li {
    font-family: 'helvetica', sans-serif;
    margin: 20px;

}

header {
    margin: 30px;
}


body {
    color: azure;
    text-align: center;
}

.menubar li {
    padding: 0.5em;
    display: inline-block;
    /*all the menu bar options are made to be on the same line for functionality*/
    text-align: center;
    /*centres the text of each menubar option in its own box*/
    border: 4px solid #140645;
    /*adds a border to each option to be able to discern them*/
    color: black;
}

.menubar {
    text-align: center;
    /*centres the menubar as a whole*/
}

a {
    color: azure;
}

.menubar li:hover {
    background-color: #140645;
}

.menubar li a {
    text-decoration: none;
    /*removes the underline from the menubar options for aesthetics*/
}